################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/GameTurbo/include

obj
bin
*.csproj.user
*.vcxproj.user
.vs

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

/source/DUTUtil/bin/Debug
/source/.vs/GameTurbo/v16
/source/DUTUtil/obj/Debug
/source/GameFirstInstallDriver/bin/Debug
/source/GameFirstInstallDriver/obj/Debug
/source/GameTurbo/bin/Debug
/source/GTBStudio/bin/Debug
/source/GTBStudio/obj/Debug
/source/Hermes/bin/Debug
/source/Hermes/obj/Debug
/source/nfapinet/bin/Debug
/source/nfapinet/obj/x86/Debug
/source/OpenHardwareMonitor/Bin/Debug
/source/OpenHardwareMonitor/obj/Debug
/source/ScanWifi/bin/Debug
/source/ScanWifi/obj/Debug
/source/Test/obj/Debug
/source/GameTurbo/obj/Debug
/installer/GameTurbo_20190424/Release
/installer/GameTurbo_20190424/Setup Files
/source/DUTUtil/bin/Release
/source/DUTUtil/obj/Release
/source/GameFirstInstallDriver/bin/Release
/source/GameFirstInstallDriver/obj/Release
/source/GameTurbo/bin/Release
/source/GameTurbo/obj/Release
/source/GTBStudio/bin/Release
/source/GTBStudio/obj/Release
/source/Hermes/bin/Release
/source/Hermes/obj/Release
/source/nfapinet/bin/Release
/source/nfapinet/obj/x86/Release
/source/OpenHardwareMonitor/Bin/Release
/source/OpenHardwareMonitor/obj/Release
/source/ScanWifi/bin/Release
/source/ScanWifi/obj/Release
/source/Test/obj/Release
/installer/GameTurbo_20190424/GameTurbo-cache/part2
/installer/GameTurbo_20190424/GameTurbo-cache
/source/.vs/GameTurbo/v15
/source/GameTurbo/GameTurbo.csproj.user
/source/Test/bin/Release
/source/Test/bin/Debug
/Dotfuscated
/.vs
/source/nfapinet/obj/x64
/installer/GameTurbo_20190424/Protected
/OnlineUpdatePackageSample/v0.0.1.0
/source/GameTurbo/Resources/record.zip
/source/GameTurbo/Resources/gtb.zip
/source/GameTurbo/Resources/dmidecode.zip
/source/DUTUtil/bin/ASUS_ROG-Debug
/source/DUTUtil/obj
/source/GameFirstInstallDriver/bin/ASUS_ROG-Debug
/source/GameFirstInstallDriver/obj
/source/GameTurbo/bin/ASUS_ROG-Debug
/source/GameTurbo/obj
/source/GTBStudio/bin/ASUS_ROG-Debug
/source/GTBStudio/obj
/source/Hermes/bin/ASUS_ROG-Debug
/source/Hermes/obj
/source/nfapinet/bin/x86/ASUS_ROG-Debug
/source/nfapinet/obj/x86
/source/OpenHardwareMonitor/Bin/ASUS_ROG-Debug
/source/OpenHardwareMonitor/obj/ASUS_ROG-Debug
/source/OpenHardwareMonitor/obj/ASUS_ROG-Release
/source/ScanWifi/bin/ASUS_ROG-Debug
/source/ScanWifi/obj/ASUS_ROG-Debug
/source/ScanWifi/obj/ASUS_ROG-Release
/source/Test/bin/ASUS_ROG-Debug
/source/Test/obj/ASUS_ROG-Debug
/source/Test/obj/ASUS_ROG-Release
/installer_GameFirst/GameFirstVI/GameFirst-cache
/installer_GameFirst/GameFirstVI/GameTurbo-cache
/installer_GameFirst/GameFirstVI/Release
/installer_GameFirst/GameFirstVI/Setup Files
/installer_GameTurbo/GameTurbo/GameTurbo-cache
/installer_GameTurbo/GameTurbo/Release
/installer_GameTurbo/GameTurbo/Setup Files
/source/DUTUtil/bin/ASUS_ROG-Release
/source/GameFirstInstallDriver/bin/ASUS_ROG-Release
/source/GameTurbo/bin/ASUS_ROG-Release
/source/GTBStudio/bin/ASUS_ROG-Release
/source/Hermes/bin/ASUS_ROG-Release
/source/nfapinet/bin/x86/ASUS_ROG-Release
/source/OpenHardwareMonitor/Bin/ASUS_ROG-Release
/source/ScanWifi/bin/ASUS_ROG-Release
/source/GameTurbo/Resources/app.ico
/source/DUTUtil/bin/ASUS_TUF-Debug
/source/GameFirstInstallDriver/bin/ASUS_TUF-Debug
/source/GameTurbo/bin/ASUS_TUF-Debug
/source/OpenHardwareMonitor/Bin/ASUS_TUF-Debug
/source/OpenHardwareMonitor/obj/ASUS_TUF-Debug
/source/OpenHardwareMonitor/obj/ASUS_TUF-Release
/source/ScanWifi/bin/ASUS_TUF-Debug
/source/ScanWifi/obj/ASUS_TUF-Debug
/source/ScanWifi/obj/ASUS_TUF-Release
/source/Test/obj
/source/GTBStudio/bin/ASUS_TUF-Debug
/source/Hermes/bin/ASUS_TUF-Debug
/source/nfapinet/bin/x86/ASUS_TUF-Debug
/installer_GameFirst/TUF/GameFirst-cache
/installer_GameFirst/TUF/GameTurbo-cache
/installer_GameFirst/TUF/Release
/installer_GameFirst/TUF/Setup Files
/source/GameFirstInstallDriver/bin/ASUS_TUF-Release
/source/GameTurbo/bin/ASUS_TUF-Release
/source/Hermes/bin/ASUS_TUF-Release
/source/nfapinet/bin/x86/ASUS_TUF-Release
/source/ScanWifi/bin/ASUS_TUF-Release
/source/GTBStudio/bin/ASUS_TUF-Release
/source/OpenHardwareMonitor/Bin/ASUS_TUF-Release
/source/DUTUtil/bin/ASUS_TUF-Release
/source/NetfilterDriver/bin
/source/NetfilterDriver/obj
/source/NetfilterDriver/Resources/x86.zip
/source/NetfilterDriver/Resources/x64.zip
/source/GamingCenterPlugin/Release
/source/GamingCenterPlugin/x64/Release
/source/GamingCenterNotify/bin
/source/GamingCenterNotify/obj
/source/GameTurbo/bin/x64/ASUS_ROG-Debug
/source/GamingCenterPlugin/Debug
/source/GamingCenterPlugin/x64/Debug
/source/nfapinet/bin/x64
/source/GameTurbo/bin/x64/Release
/source/GTBStudio/bin/x64/Release
/source/Hermes/bin/x64/Release
/source/OpenHardwareMonitor/Bin/x64/Release
/source/OpenHardwareMonitor/obj/x64/Release
/source/ScanWifi/bin/x64/Release
/source/ScanWifi/obj/x64
/source/GameTurbo/bin/x64/ASUS_TUF-Release
/source/GTBStudio/bin/x64/ASUS_TUF-Release
/source/Hermes/bin/x64/ASUS_TUF-Release
/source/OpenHardwareMonitor/Bin/x64/ASUS_TUF-Release
/source/OpenHardwareMonitor/obj/x64
/source/ScanWifi/bin/x64/ASUS_TUF-Release
/source/Test/bin/ASUS_TUF-Release
/source/GameTurbo/bin/x64
/source/GTBStudio/bin/x64
/source/Hermes/bin/x64
/source/OpenHardwareMonitor/Bin/x64
/source/ScanWifi/bin/x64
/source/Test/bin/ASUS_TUF-Debug
/source/Test/bin/ASUS_ROG-Release
/source/OverwolfPlugin/bin/Release
/source/OverwolfPlugin/bin/Debug
/source/OverwolfPlugin/obj
/source/Manual/bin
/source/Manual/obj
/source/OpenHardwareMonitorLib/bin/Debug
/source/.vs/GameTurbo/DesignTimeBuild
/source/OpenHardwareMonitorLib/obj
/source/OpenHardwareMonitorLib/bin/Release
/source/OpenHardwareMonitorLib/bin/x64
/source/DUTUtil/bin
/source/GameTurbo/bin
/source/GamingCenterPlugin/ASUS_ROG_MB-DEBUG
/source/GamingCenterPlugin/ASUS_ROG_MB-Release
/source/GamingCenterPlugin/ASUS_ROG_NB-Debug
/source/GamingCenterPlugin/ASUS_ROG_NB-Release
/source/GamingCenterPlugin/x64
/source/GTBStudio/bin
/source/Hermes/bin
/source/nfapinet/bin/x86
/source/OpenHardwareMonitorLib/bin
/source/OverwolfPlugin/bin
/source/ScanWifi/bin
/source/ScanWifi/obj
/installer_GameFirst/GameFirstVI/GameFirst_MB-cache
/installer_GameFirst/GameFirstVI/GameFirst_NB-cache
/source/bin/Debug
/installer_GameFirst/GameFirstVI/GameFirst_MB.back.aip
/OnlineUpdatePackage/Release
/source/Release
/AsusArmoury CratePlugin/Dll_Template/Release
/AsusArmoury CratePlugin/Dll_Template/Debug
/AsusArmoury CratePlugin/Dll_Template/x64/Debug
/AsusArmoury CratePlugin/Dll_Template/x64/Release
/AsusArmoury CratePlugin/UpgradeLog2.htm
/AsusArmoury CratePlugin/UpgradeLog.htm
/AsusArmoury CratePlugin/.vs
/installer_ProArtFirst/ProArtFirst/ProArtFirst-cache
/installer_ProArtFirst/ProArtFirst/Release
/installer_ProArtFirst/ProArtFirst/Setup Files
/source/Bornander.UI/obj
/source/Bornander.UI/bin
/installer_GameTurbo/GameTurbo/GameTurbo.back (1).aip
/source/GTBStudio.Test/obj/Debug
/source/AppTest/bin/Debug
/source/AppTest/obj/Debug
/source/GStore/bin/Debug
/source/GStore/obj/Debug
/source/GStoreTests/obj/Debug
/source/GStoreTests/bin/Debug
/source/Mimir/obj/Debug
/source/Mimir/bin/Debug
/source/GTBServer/obj/Debug
/source/GTBServer/bin/Debug
/source/GTBServerTests/bin/Debug
/source/GTBServerTests/obj/Debug
/source/WpfGraphControl/obj
/source/AppTest/obj/Release
/source/GTBServer/obj/Release
/source/GTBServer/bin/Release
/source/GTBServerTests/obj/Release
/installer_GameTurbo/GameTurbo.obproj.map
/installer_GameTurbo/GameTurbo/ReleaseTmp
/source/AppTest/obj/x64/Debug
/source/AppTest/bin/x64/Debug
/source/AppTest/obj/x64/Release
/source/GameTurboLib/obj
/source/GameTurboLib/bin/x64
/source/AppTest/bin/x64/Release
/source/GameTurboLib/bin/Debug
/source/GTBServerTests/bin/Release
/source/GameTurboLibTests/obj/Debug
/source/GameTurboLibTests/bin/Debug
/source/GameTurboLibTests/obj/Release
/source/WpfGraphControl/bin/Debug
/source/WpfGraphControl/bin/Release
/source/.vs
/22220628035-STR1638_MB_GTBooster_20220628.xlsx
/installer_GameTurbo/GameTurbo/GameTurbo.back (6).aip
/installer_GameTurbo/GameTurbo/GameTurbo.back (5).aip
/installer_GameTurbo/GameTurbo/GameTurbo.back (4).aip
/source/Setup/obj
/source/GTBServer/bin/Debug
/source/GTBServer/obj/Debug
/source/GTBServerTests/obj/Debug
/source/HermesTests/bin/Debug
/source/HermesTests/obj/Debug
/source/HermesTests/obj/Release
/source/.vs
/source/.vs/GameTurbo/v17
/source/.vs/GameTurbo/FileContentIndex
/source/.vs/ProjectEvaluation
/source/HermesTests/obj/Release
*.bak
/source/obj/x64/ASUS_ROG_MB-Release
/MB_GameFirst_VI_20220708_Ukrainian(完整).xlsx
/source/AiFlowVIITest/bin/Debug
/source/AiFlowVIITest/obj/Debug
/source/ConsoleTest/bin/Debug
/source/ConsoleTest/obj/Debug
/source/AiFlowVIITest/obj/Release
/source/ConsoleTest/obj/Release
/ref
/source/AiFlowVIITest/bin/Release
/bug
/source/bin/Release
/source/LibreHardwareMonitorLib/obj/Debug
/source/LibreHardwareMonitorLib/obj
/source/ConsoleTest/bin/Release
/source/GameTurboLibTests/bin/Release
/source/Setup/bin
